/*
 * Component - Modal
 */

$modal-container-sizes: (
  sm: 480px,
  md: 720px,
  lg: 960px
);

$modal-border: colorDefinition("lighter");
$modal-bg:     darken(colorDefinition("twinsSecondary"), 10%);
$modal-color:  colorDefinition("darker");

.modal {
  position: fixed;
	top: 0;
  left: 0;
	right: 0;
	bottom: 0;
	z-index: 1100;
	width: 100%;
	height: 100%;
  padding: 0 2rem;
  background-color: rgba($modal-color, .5);
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  transition: all 0.25s linear;

  &.--show {
    opacity: 1;
  }

  &.--collapse {
    display: none;
  }

  &__container {
    position: relative;
    width: 54rem;
    //width: 480px;
    max-width: 100%;
    border: 1px solid $modal-border;
    border-radius: .25rem;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: $modal-bg;
    color: $modal-color;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .3);

    @each $size, $length in $modal-container-sizes {
      &.--#{$size} {
        width: $length;
      }
    }
  }

  &__content {
    position: relative;
    height: 40.5rem;
    
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      
      &.--enter {
        animation: 1s fade-in ease-in-out;
      }
      
      &.--leave {
        animation: 1s fade-out ease-in-out;
      }
    }
  }

  &__prev,
  &__next,
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    margin: .5rem;
    border: 0;
    border-radius: 50%;
    background: colorDefinition("lightest");
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    cursor: pointer;
    
    .fa-lg {
      line-height: 1.5;
    }
  }

  &__prev {
    right: 6rem;
    
    .fa-lg {
      line-height: 1.625;
    }
  }

  &__next {
    right: 3rem;
    
    .fa-lg {
      line-height: 1.625;
    }
  }
}

.scroll-lock {
  overflow: hidden;
}

#scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 72px;
  height: 72px;
  overflow: scroll;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}
