//
// Twins
//

$twins-link-hover-color: $link-hover-color !default;
$twins-common-btn-color: $twins-link-hover-color !default;
$twins-more-btn-color: $twins-link-hover-color !default;
$twins-page-counts: 10 !default;

//
// main
//

@include media-breakpoint-up(lg) {
  .twins, .twins > main, {
    width: 100%;
    height: 100vh;
    min-height: 576px;
    overflow: hidden;
    transition: $transition-base-slower;
  }
}

#twins-inner {
  display: flex;
  width: 200%;
  height: 100%;
  transition: $transition-base-slowest;
  
  &.show-more {
    transform: translate(-50%, 0);
    
    @include media-breakpoint-up(md) {
      transform: translate(-25%, 0);
      
      .twins-controller-cover {
        .twins-bg-light {
          opacity: 1;
        }
        
        //filter: saturate(100%);
      }
    }
  }
}

//
// view
//

#twins-view {
  position: relative;
  flex: 0 0 50%;
  order: 0;
  height: 100%;
  overflow: hidden;
  
  .twins-view-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    &.enter {
      animation: slide-from-down 1s ease-out;
    }

    &.leave {
      animation: slide-to-up 1s ease-out;
    }

    &.enter.reverse {
      animation: slide-from-up 1s ease-out;
    }

    &.leave.reverse {
      animation: slide-to-down 1s ease-out;
    }
  }
  
  @include media-breakpoint-up(md) {
    flex-basis: 25%;
    
    .twins-view-item {
      &.enter {
        animation: fade-in 1s ease-out;
      }

      &.leave {
        animation: fade-out 1s ease-out;
      }
      
      &.enter.reverse {
        animation: fade-in 1s ease-out;
      }

      &.leave.reverse {
        animation: fade-out 1s ease-out;
      }
    }
  }
}

//
// more
//

#twins-more {
  position: relative;
  flex: 0 0 50%;
  order: 2;
  height: 100%;
  overflow: hidden;
  
  .twins-more-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  @include media-breakpoint-up(md) {
    flex-basis: 25%;
  }
}

//
// section
//

.twins-section {
  width: 100%;
  max-width: 36rem;
  margin: auto;
}

//
// controller
//

#twins-controller {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  transition: $transition-fade-slower;
  
  &.enter {
    animation: fade-in .5s ease-out;
  }
  
  &.leave {
    animation: fade-out .5s ease-out;
  }
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 0 0 12rem rgba(0, 0, 0, .3) inset;
    opacity: 0;
    transition: $transition-fade;
  }
  
  &.show-menu {
    z-index: 1;
    opacity: 1;
    
    &::before {
      opacity: 1;
    }
  }
  
  @include media-breakpoint-up(md) {
    position: relative;
    flex: 0 0 25%;
    order: 1;
    opacity: 1;
    
    &.enter {
      animation: delaying .5s ease-out;
    }

    &.leave {
      animation: delaying .5s ease-out;
    }
  }
}
  
.twins-controller-cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  //filter: saturate(0%);
  transition: $transition-base-slowest;
  
  .twins-bg {
    width: 100%;
    height: 100%;
  }
  
  .twins-bg-light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: $transition-fade-slowest;
  }
  
  &.enter {
    animation: fade-in 1s ease-out;
  }

  &.leave {
    animation: fade-out 1s ease-out;
  }

  &.enter.reverse {
    animation: fade-in 1s ease-out;
  }

  &.leave.reverse {
    animation: fade-out 1s ease-out;
  }
  
  @include media-breakpoint-up(md) {
    &.enter {
      animation: slide-from-down 1s ease-out;
    }

    &.leave {
      animation: slide-to-up 1s ease-out;
    }

    &.enter.reverse {
      animation: slide-from-up 1s ease-out;
    }

    &.leave.reverse {
      animation: slide-to-down 1s ease-out;
    }
  }
}

//
// bar and menu
//

.twins-controller-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(100%, 0);
  transition: $transition-base-slower;
}

#twins-controller.show-menu .twins-controller-bar {
  transform: translate(0, 0);
}

#twins-controller.show-menu.leave .twins-controller-bar {
  transform: translate(100%, 0);
}

.twins-controller-menu {
  display: table;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: auto;
  padding: 1rem;
  text-align: center;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 2;
  letter-spacing: .125em;

  ul {
    display: table-cell;
    vertical-align: middle;
      
    a {
      display: block;
      color: $white;

      &:hover {
        background-color: rgba($white, .15);
        color: $twins-link-hover-color;
      }
    
      @include media-breakpoint-up(md) {
        padding: 0 1rem;
        border: none;
      }
    }
  }
}

//
// buttons
//

@mixin twins-btn {
  width: 3rem;
  height: 3rem;
  margin: auto;
  padding: .4rem 0 0;
  background-color: rgba($gray-800, .5);
  color: $white;
  text-align: center;
  transition: $transition-base;
  
  &:hover {
    color: $twins-link-hover-color;
  }
  
  i {
    display: block;
    font-size: 1rem;
  }
  
  span {
    display: block;
    font-family: Verdana, Geneva, "sans-serif";
    font-weight: 300;
    font-size: .6rem;
    letter-spacing: 0;
  }
  
  &.enter {
    animation: flip-in .25s ease-out;
  }
  
  &.leave {
    animation: flip-out .25s ease-out;
  }
  
  @include media-breakpoint-up(md) {
    width: 3.75rem;
    height: 3.75rem;
    padding: 1rem 0 .5rem;
    background-color: $twins-common-btn-color;

    &:hover {
      background-color: rgba($gray-800, .5);
    }
    
    i {
      font-size: 1.25rem;
    }
  }
}

#twins-controller-open {
  position: fixed;
  left: 1rem;
  right: 75%;
  bottom: 1rem;
  z-index: 1000;
  @include twins-btn;
  
  @include media-breakpoint-up(md) {
    top: 1rem;
    left: auto;
    right: 1rem;
    bottom: auto;
  }
}

#twins-controller-close {
  position: fixed;
  left: 1rem;
  right: 75%;
  bottom: 1rem;
  z-index: 1000;
  @include twins-btn;
  
  @include media-breakpoint-up(md) {
    top: 1rem;
    left: auto;
    right: 1rem;
    bottom: auto;
    background-color: rgba($gray-800, .5);
  }
}

#twins-more-open {
  position: fixed;
  left: 75%;
  right: 1rem;
  bottom: 1rem;
  z-index: 1000;
  @include twins-btn;
  
  @include media-breakpoint-up(md) {
    top: 1rem;
    left: 1rem;
    background-color: $twins-more-btn-color;
  }
}

#twins-more-close {
  position: fixed;
  left: 1rem;
  right: 75%;
  bottom: 1rem;
  z-index: 1000;
  @include twins-btn;
  
  @include media-breakpoint-up(md) {
    top: 1rem;
    right: auto;
    background-color: $twins-more-btn-color;
  }
}

#twins-page-toggle {
  position: fixed;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  z-index: 1000;
  border-radius: 50%;
  @include twins-btn;
  
  &.enter {
    animation: bound-in .25s ease-out;
  }
  
  &.leave {
    animation: bound-out .25s ease-out;
  }
  
  @include media-breakpoint-up(md) {
    left: auto;
  }
}

.twins-inverse {
  #twins-controller-open,
  #twins-more-open,
  #twins-more-close,
  #twins-page-toggle {
    border: none;
    background-color: rgba(theme-color("dark"), .5);
  }
}

.twins-submit {
  border: none;
  background-color: $twins-more-btn-color;
  color: $white;

  &:hover {
    background-color: rgba($gray-800, .5);
    color: $twins-link-hover-color;
  }
}

//
// background
//

@for $i from 1 through $twins-page-counts {
  .twins-bg-img-#{$i} {
    background: url(../images/background/twins-bg-img-#{$i}.jpg) center center / cover no-repeat scroll;
  }
  
  .twins-bg-light.twins-bg-img-#{$i} {
    background: url(../images/background/twins-bg-img-#{$i}-light.jpg) center center / cover no-repeat scroll;
  }
}

.bg-darken::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background: radial-gradient(rgba(0, 0, 0, .3) rgba(0, 0, 0, .85));
  background-color: rgba(0, 0, 0, .3);
  box-shadow: 0 0 12rem #000 inset;
}

//
// keyframes
//

@keyframes delaying {
  0% {
    opacity: 1;
  }
  
  50% {
    opacity: .99;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes bound-in {
  0% {
    opacity: 0;
    transform: translate(0, -25%);
  }
  
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes bound-out {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  
  100% {
    opacity: 0;
    transform: translate(0, -25%);
  }
}

@keyframes flip-in {
  0% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes flip-out {
  0% {
    opacity: 1;
    transform: rotateY(0deg);
  }
  
  100% {
    opacity: 0;
    transform: rotateY(90deg);
  }
}

@keyframes slide-from-down {
  0% {
    transform: translate(0, 100%);
  }
  
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-to-up {
  0% {
    transform: translate(0, 0);
  }
  
  100% {
    transform: translate(0, -100%);
  }
}

@keyframes slide-from-up {
  0% {
    transform: translate(0, -100%);
  }
  
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-to-down {
  0% {
    transform: translate(0, 0);
  }
  
  100% {
    transform: translate(0, 100%);
  }
}
